<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8" />
          <meta
               name="viewport"
               content="width=device-width, initial-scale=1.0"
          />
          <title>Sign in</title>
     </head>
     <body>
          <%- include("../partials/header.ejs") %>
          <div class="container sign-in">
               <h1>SIGN IN PAGE</h1>
               <form action="" method="post">
                    <label>first name:</label>
                    <input type="text" name="firstName" />
                    <label>last name</label>
                    <input type="text" name="lastName" />
                    <label>email</label>
                    <input type="email" name="email" />
                    <label>password</label>
                    <input type="password" name="password" />
                    <input type="submit" value="sign in" />
                    <small
                         ><%= typeof message != 'undefined' ? message : ''
                         %></small
                    >
               </form>
               <button>
                    <a href="/account/sign-in">dang nhap</a>
               </button>
          </div>
     </body>
</html>
