<link rel="stylesheet" type="text/css" href="../../stylesheets/style.css" />
<header>
     <div class="header">
          <div class="header__left">
               <ul>
                    <li>
                         <a href="/">Home</a>
                    </li>
                    <li>
                         <a href="/about">About</a>
                    </li>
                    <li>
                         <a href="/articles">Articles</a>
                    </li>
               </ul>
          </div>
          <div class="header__right">
               <form action="/search" id="header__form-search" method="get">
                    <input
                         type="text"
                         id="header__input-search"
                         name="username"
                         placeholder="Search..."
                    />
               </form>
               <button>
                    <a href="/account/sign-in">sign in</a>
               </button>
               <button>
                    <a href="/account/sign-up">sign up</a>
               </button>
          </div>
     </div>
</header>
<script src="../../javascripts/index.js"></script>
